<!DOCTYPE html>
<head>
    <title>{% block title %}{% endblock%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {%block style%} {%endblock%}
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">MRS</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
      
          <form class="navbar-form navbar-left" action="/action_page.php">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search" name="search">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </div>
            </div>
          </form>
            {% if session['logged_in'] == True %}
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log OUt</a></li>
            {% else %}

      
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span>Register</a>
              <ul class="dropdown-menu">
                <li><a href="/patient_registration">patient</a></li>
                <li><a href="/doctor_registration">doctor</a></li>
              </ul>
            </li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
        
<main>
  {% with messages = get_flashed_messages() %}
  {% if messages %}

      <h3>{{ messages }}<h3>

  {% endif %}
{% endwith %}
    {%block main%} {%endblock%}
</main>      
</body>