
{% extends "registration.html"%}

{%block title%}Doctor registration{%endblock%}
    

{%block form%}
<label for="problem"><b>Specialist</b></label>
    <input type="text" placeholder="Enter Your area of specialist" name="specialist" required>   
{%endblock%}
 