{% extends "base.html" %}
{% block title%}Home{%endblock%}

{%block main%}
<h1>Info the project</h1>
<p> This project is a hospital management system for doctor and patient in a secure way. We are using AES encrpytion for storing the medical data of the patient. Only the changes can be made when both party agrees.
    both doctor and patient are logged in and these are done using OTP. Medical report of the patient are encrpyted </p>
<h1>Project Completion</h1>
<ul>
    <li> can only register </li>
</ul>
<h1>Next task</h1>
    <ul>
        <li>sending email to the user for validating their email </li>
        <li>sending a password while log in</li>
    </ul>

{%endblock%}