{%extends "registration.html"%}
{%block title%}patient registration{%endblock%}
{%block form%}    
     <label for="problem"><b>Problem</b></label>
    <input type="text" placeholder="Enter Your Problem related to eg; bone, heart.etc" name="problem" required>

    <label for="problem_description">Description of Your problem</label><br>
    <textarea placeholder="Description of the problem" name="description" rows="7" cols="50" required></textarea><br>
   

{%endblock%}
