{%extends "base.html"%}
{%block style%}
<style>
    body {font-family: Arial, Helvetica, sans-serif;}
            * {box-sizing: border-box}
            
            /* Full-width input fields */
            input[type=text], input[type=password],input[type=tel], input[type=email] {
              width: 100%;
              padding: 15px;
              margin: 5px 0 22px 0;
              display: inline-block;
              border: none;
              background: #f1f1f1;
            }
            
            input[type=text]:focus, input[type=password],input[type=tel],input[type="email"]:focus {
              background-color: #ddd;
              outline: none;
            }
            
            hr {
              border: 1px solid #f1f1f1;
              margin-bottom: 25px;
            }
            
            /* Set a style for all buttons */
            button {
              background-color: #ff22dd button;
            } 
            .cancelbtn {
              padding: 14px 20px;
              background-color: #f44336;
            }
           
            
            /* Float cancel and signup buttons and add an equal width */
            .cancelbtn, .signupbtn {
              float: left;
              width: 50%;
            }
            
            /* Add padding to container elements */
            .container {
              padding: 16px;
            }
            
            /* Clear floats */
        
            .clearfix::after {
              clear: both;
              display: table;
            }
            
            /* Change styles for cancel button and signup button on extra small screens */
            @media screen and (max-width: 300px) {
              .cancelbtn, .signupbtn {
                 width: 100%;
              }
            }
</style>
{%endblock%}
{%block main%}
<form  style="border:1px solid #ccc" method="POST">
    <div class="container">
      <h1>Register</h1>
      <p>Please fill in this form for registration.</p>
      <hr>
      
      <label for="firstname"><b>First Name</b></label>
      <input type="text" placeholder="Enter your first Name" name="first_name" required>
      
      <label for="lastname"><b>Last Name</b></label>
      <input type="text" placeholder="Enter your Last Name" name="last_name" required>
      
      <label for="phone"><b>Phone No</b></label><br>
      <input type="tel" placeholder="Enter phone no." name="phone" pattern="[0-9]{10}" required><br>

      <label for="email"><b>Email</b></label><br>
      <input type="email" placeholder="Enter Email" name="email" required><br>

    {%block form%}{%endblock%}
    
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
`<!--
    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
    -->
    <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
    </label>
    
    <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

    <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn">Register</button>
    </div>

    </div>
    </form>
{%endblock main%}