{%extends "base.html"%}
{% block title%}Welcome!!{%endblock%}
{% block main %}
  <h1>Welcome!!</h1>
  <h2>Please enter six digit code sent in your mail to log in  </h2><br>
  <label>Your code</label>
  <form method="POST">
    <input placeholder="Enter Six digit code " name="otp">
  </form>
{% endblock %}